<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - CustomShirtStore</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/CustomShirtStore.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css" integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <style>
        header{
            border-bottom: 1px solid var(--bg-primary);
           box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 30px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
            position: fixed;
            top: 0;
            width:100vw;
            z-index:10;
        }
        .main-body{
            margin-top: 140px;
        }
        .header-above{
            background-color:white;  
            
        }
        .header-above>div{
                width: 100vw;
                height: 70px;
                display: flex;
                justify-content: space-between;
                align-items: center;
        }
    </style>
    @RenderSection("Styles", required: false)
</head>
<body>
    <header>
        <div class="header-above">
            <div class="container">
                <div class="">
                    <i class="fa-solid fa-phone"></i>&nbsp;0909 999 999
                    &nbsp;-&nbsp;
                    <i class="fa-brands fa-square-facebook"></i>&nbsp;<a style="color:var(--bg-primary);" href="https://www.facebook.com/CustomShirtStore" target="_blank">fb/happy.vn</a>
                    &nbsp;-&nbsp;
                    <i class="fa-brands fa-square-instagram"></i>&nbsp;<a style="color:var(--bg-primary);" href="#" target="_blank">ig/happy.vn</a>
                </div>
                <partial name="_LoginPartial" />
            </div>
        </div>
        <nav class="navbar navbar-expand-md navbar-toggleable-sm navbar-light bg-white border-bottom border-top">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">
                    <img src="./image/account-bg.jpg" width="30" height="30" class="d-inline-block align-top" alt="">
                    Happiness
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">App thiết kế</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Gửi lời chúc</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle text-black" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Thông tin
                            </a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item text-black" href="@Url.Action("BangMauAo","Home")">Bảng màu áo</a></li>
                                <li><a class="dropdown-item text-black" href="@Url.Action("CachChonSizeAo","Home")">Cách chọn size áo</a></li>
                                <li><a class="dropdown-item text-black" href="@Url.Action("CachThucThanhToan","Home")">Cách thức thanh toán</a></li>
                                <li><a class="dropdown-item text-black" href="@Url.Action("CongNgheIn","Home")">Công nghệ in</a></li>
                            </ul>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="CauHoi">FAQ</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="LienHe">Liên hệ</a>
                        </li>

                        @if (User.IsInRole("Admin"))
                        {
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Admin">Quản lý</a>
                            </li>
                        }
                        @if (User.IsInRole("Customer"))
                        {
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="User">Tài khoản</a>
                            </li>
                        }
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container-fluid main-body">
        <main role="main" class="mt-2">
            @RenderBody()
        </main>
    </div>

    <partial name="_Footer" />
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
